<style>
body { font-family: "sans-serif"}
label { display: block; width: 15em}
#start { width: 12em; height: 2em}
</style>


<button (click)="clickFind($event)">Find</button> 
<button (click)="clickVibrate($event)">Vibrate</button> 
<button (click)="clickStop($event)">Stop</button>

<p>Settings</p>

<label>Min Level (0-100)       <input [(ngModel)]="config.minLevel"></label>
<label>Max Level (0-100)       <input [(ngModel)]="config.maxLevel"></label>
<label>Min Off Time in seconds <input [(ngModel)]="config.minOffTime"></label>
<label>Max Off Time in seconds <input [(ngModel)]="config.maxOffTime"></label>
<label>Min On Time in seconds  <input [(ngModel)]="config.minOnTime"></label>
<label>Max On Time in seconds  <input [(ngModel)]="config.maxOnTime"></label>
<label>Min Time per Level in seconds <input [(ngModel)]="config.minLevelTime"></label>
<label>Max Time per Level in seconds <input [(ngModel)]="config.maxLevelTime"></label>
<label>Sound URL <input [(ngModel)]="config.sound"></label>
<label>Skip On time in 1 of _ cases <input [(ngModel)]="config.skipProbability"></label>

<p> Please note that most devices round the level number. For example a device may have groups such as 0-4 is off, 5-9
 is lowest level, 10-14 is second lowest level.</p>

<button id="start" (click)="clickStart($event)">Start</button>

<router-outlet></router-outlet>
